APP_ENV=local
HTTP_PORT=8080

LOG_LEVEL=debug
LOG_FORMAT=text
LOG_ADD_SOURCE=true

DATABASE_URL=postgres://commercepay:commercepay@localhost:5432/commercepay?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://commercepay:commercepay@localhost:5432/commercepay?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations

CATALOG_DEFAULT_PAGE_SIZE=20
CATALOG_MAX_PAGE_SIZE=100